altgraph==0.17.4
bidict==0.21.4
blinker==1.8.2
click==8.0.4
colorama==0.4.4
dnspython==2.2.0
eventlet==0.33.0
Flask==2.0.3
Flask-SocketIO==5.1.1
greenlet==1.1.2
h11==0.14.0
importlib_metadata==8.0.0
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.1.0
numpy==1.24.4
packaging==24.1
pefile==2023.2.7
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
python-engineio==4.3.1
python-socketio==5.5.2
pywin32-ctypes==0.2.2
scipy==1.8.0
simple-websocket==1.0.0
six==1.16.0
threadpoolctl==3.1.0
Werkzeug==2.0.3
wsproto==1.2.0
zipp==3.19.2
